:root {
    --light: #F9F9F9;
    --dark: #191A20;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--light);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.icon {
    height: 24px;
    width: 24px;
}

.socials {
    align-self: flex-end;
}

header {
    margin-top: 24px;
    margin-left: 32px;
    margin-right: 24px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links ul {
    display: flex;
}

.links ul li {
    margin-right: 16px;
}

.burger-menu {
    height: 32px;
    width: 32px;
}

.letter {
    fill: var(--dark);
}