*, *::before, *::after {
  box-sizing: border-box;
}

@import "reset";
@import "functions";

:root {
  --light: #F9F9F9;
  --dark: #191A20;
  --rgb-light: 249, 249, 249;
  --rgb-dark: 25, 26, 32;
  --primary: var(--light);
  --secondary: var(--dark);
  --rgb-primary: var(--rgb-light);
  --rgb-secondary: var(--rgb-dark);
  --space: 8px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--primary);
}

@import "typography";
@import "utilites";

@import "components/container";
@import "components/header";
@import "components/footer";
@import "components/icons";
@import "components/logo";
@import "components/projects";
@import "components/skills";
@import "components/dropdown";
@import "components/pill";
@import "components/socials";
@import "components/burger";