*,
*::before,
*::after {
  box-sizing: border-box;
}

@import "reset";
@import "functions";

:root {
  --light: #fafafa;
  --light-hover: #e6e6e6;
  --light-border: #fafafa20;

  --dark: #191a20;
  --dark-hover: #3d4051;
  --dark-border: #191a2020;

  --accent: #ffc858;
  --accent-hover: #ffaf0b;
  --accent-border: #ffac0020;

  --danger: #c41e1e;
  --danger-hover: #a82323;
  --danger-border: #c41e1e20;

  --rgb-light: 249, 249, 249;
  --rgb-dark: 25, 26, 32;

  --primary: var(--light);
  --primary-hover: var(--light-hover);
  --primary-border: var(--light-border);
  --secondary: var(--dark);
  --secondary-hover: var(--dark-hover);
  --secondary-border: var(--dark-border);

  --rgb-primary: var(--rgb-light);
  --rgb-secondary: var(--rgb-dark);
  --space: 8px;
}

html.dark {
  --primary: var(--dark);
  --primary-hover: var(--dark-hover);
  --primary-border: var(--dark-border);
  --secondary: var(--light);
  --secondary-hover: var(--light-hover);
  --secondary-border: var(--light-border);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--primary);
  color: var(--secondary);
}

@import "typography";
@import "utilites";

@import "components/container";
@import "components/header";
@import "components/footer";
@import "components/icons";
@import "components/logo";
@import "components/projects";
@import "components/stack";
@import "components/dropdown";
@import "components/pill";
@import "components/socials";
@import "components/burger";
@import "components/lang-switcher";
@import "components/theme-switcher";
@import "components/contact";
