*, *::before, *::after {
  box-sizing: border-box;
}

@import "reset";
@import "functions";
@import "typography";

:root {
  --light: #F9F9F9;
  --dark: #191A20;
  --primary: var(--light);
  --secondary: var(--dark);
  --space: 8px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--primary);
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

@import "utilites";

@import "components/header";
@import "components/icons";
@import "components/logo";
@import "components/projects";
@import "components/skills";
@import "components/dropdown";
@import "components/pill";