@use "../functions" as *;

.contact__input {
  display: grid;
  gap: space(1);

  margin-bottom: space(2);
}

.contact__field {
  position: relative;
  outline: none;
  border: var(--secondary-border) solid 2px;

  padding: space(1);
  height: 32px;

  background: inherit;
  font: inherit;
  color: inherit;

  transition: all 0.15s;

  &#message {
    height: 135px;
    overflow-y: scroll;
    resize: none;
  }

  &:focus {
    box-shadow: -3px 3px var(--secondary);
    border: var(--secondary) solid 2px;
  }

  &[data-errorable="true"]:invalid {
    box-shadow: -3px 3px var(--danger);
    border: var(--danger) solid 2px;
  }
}

.contact__field-group {
  display: grid;
}

.contact__button {
  cursor: pointer;
  outline: none;
  background-color: inherit;
  transition: all 0.15s;

  color: inherit;
  font: inherit;
  font-size: 14px;

  border: var(--secondary-border) solid 2px;
  padding-block: space(1.25);

  align-self: flex-end;

  &:hover {
    box-shadow: -4px 4px var(--secondary);
    background-color: var(--accent);
    color: var(--dark);
    border: var(--dark) solid 2px;
  }
}

.contact__form {
  display: grid;
  grid-template-columns: 1fr;
}
