@use "../functions" as *;

footer {
  font-size: 12.5px;
  line-height: 1;

  margin: 0 space(3) space(2);

  & > p {
    text-align: center;
  }

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: space(1);
  }
}
