header {
  margin-top: space(3);
  margin-left: space(3);
  margin-right: space(2);
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > ul {
    display: flex;
    justify-content: space-between;
    width: 210px;
  }

  & ul > li {
    cursor: pointer;
  }
}