@use "../functions" as *;

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  margin-right: space(2);
  gap: space(1);

  & > a:last-child svg {
    height: 26px;
    width: 26px;
    transform: translateY(-2px);
  }

  & :nth-child(2) {
    transform: translateY(-1px);
  }
}