.theme-switcher__container {
  position: relative;
  width: 58px;
  height: 24px;
}

.theme-switcher__checkbox {
  position: absolute;
  appearance: none;
  background-color: var(--primary);
  margin: 0;
  cursor: pointer;

  border: var(--secondary) solid 1px;
  border-radius: 24px;

  width: 58px;
  height: 24px;

  &::before {
    content: url("data:image/svg+xml, %3Csvg height='16px' widht='16px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40' id='sun'%3E%3Cg clip-path='url(%23clip0_52_138)'%3E%3Cpath d='M20 12.5C15.8672 12.5 12.5 15.8672 12.5 20C12.5 24.1328 15.8672 27.5 20 27.5C24.1328 27.5 27.5 24.1328 27.5 20C27.5 15.8672 24.1328 12.5 20 12.5ZM39.25 18.7891L31.8516 15.0938L34.4688 7.25C34.8203 6.1875 33.8125 5.17969 32.7578 5.53906L24.9141 8.15625L21.2109 0.75C20.7109 -0.25 19.2891 -0.25 18.7891 0.75L15.0938 8.14844L7.24219 5.53125C6.17969 5.17969 5.17188 6.1875 5.53125 7.24219L8.14844 15.0859L0.75 18.7891C-0.25 19.2891 -0.25 20.7109 0.75 21.2109L8.14844 24.9062L5.53125 32.7578C5.17969 33.8203 6.1875 34.8281 7.24219 34.4688L15.0859 31.8516L18.7812 39.25C19.2812 40.25 20.7031 40.25 21.2031 39.25L24.8984 31.8516L32.7422 34.4688C33.8047 34.8203 34.8125 33.8125 34.4531 32.7578L31.8359 24.9141L39.2344 21.2188C40.25 20.7109 40.25 19.2891 39.25 18.7891ZM27.0703 27.0703C23.1719 30.9688 16.8281 30.9688 12.9297 27.0703C9.03125 23.1719 9.03125 16.8281 12.9297 12.9297C16.8281 9.03125 23.1719 9.03125 27.0703 12.9297C30.9688 16.8281 30.9688 23.1719 27.0703 27.0703Z' fill='var(--secondary)'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_52_138'%3E%3Crect width='40' height='40' fill='var(--primary)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");

    position: absolute;
    top: -2.5px;
    left: -2.5px;

    text-align: center;
    line-height: 30px;

    z-index: 1001;

    height: 28px;
    width: 28px;
    background: var(--primary);

    border: var(--secondary) solid 1px;
    border-radius: 50%;
  }
}

.theme-switcher__checkbox:checked {
  &::before {
    content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' height='16px' width='16px' viewBox='0 0 40 40' id='moon'%3E%3Cpath d='M20.5 36.6667H20.3333C18.0475 36.6493 15.7882 36.176 13.6876 35.2745C11.587 34.373 9.68738 33.0615 8.09998 31.4167C5.15639 28.2688 3.48312 24.1422 3.40309 19.8332C3.32307 15.5242 4.84197 11.3383 7.66665 8.08334C9.48645 6.04392 11.7742 4.47681 14.3333 3.51667C14.6319 3.40177 14.9573 3.37525 15.2706 3.44026C15.5838 3.50528 15.8718 3.6591 16.1 3.88334C16.3113 4.09888 16.4602 4.36777 16.5306 4.66131C16.6011 4.95486 16.5905 5.26202 16.5 5.55001C15.5866 8.05157 15.4056 10.7618 15.9783 13.3625C16.551 15.9633 17.8536 18.3468 19.7333 20.2333C21.6305 22.1072 24.0197 23.4055 26.6242 23.9777C29.2287 24.5499 31.942 24.3727 34.45 23.4667C34.7485 23.3616 35.0708 23.3437 35.3791 23.415C35.6874 23.4864 35.969 23.644 36.1911 23.8695C36.4131 24.095 36.5663 24.3791 36.6328 24.6885C36.6993 24.9979 36.6764 25.3198 36.5667 25.6167C35.7153 27.8895 34.3852 29.9528 32.6666 31.6667C31.068 33.2605 29.1702 34.5227 27.0823 35.3808C24.9943 36.2389 22.7574 36.6759 20.5 36.6667Z' fill='var(--secondary)'/%3E%3C/svg%3E");

    text-align: center;
    line-height: 30px;

    z-index: 1001;

    position: absolute;
    top: -2.5px;
    right: -2.5px;
    left: auto;

    height: 28px;
    width: 28px;
    background: var(--primary);

    border: var(--secondary) solid 1px;
    border-radius: 50%;
  }
}

.theme-switcher__icon {
  position: absolute;
  height: 16px;
  width: 16px;
  pointer-events: none;

  &#sun {
    top: 4px;
    left: 6px;
  }

  &#moon {
    top: 4px;
    right: 6px;
  }
}