@use "../../functions" as *;

.project__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 170px;
  position: relative;
  padding: space(4);

  & p {
    font-size: 16px;
    text-align: center;
    max-width: 170px;
  }

  &:hover,
  &:active {
    .project__description {
      opacity: 1;
    }

    .project__corner {
      opacity: 1;
    }
  }
}

.project__corner {
  position: absolute;
  height: 32px;
  width: 32px;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.2s;

  path {
    fill: var(--accent);
    stroke: var(--dark);
  }
}

.project__item .project__corner {
  &:first-of-type {
    filter: drop-shadow(3px 3px 0px var(--secondary));
    top: 0;
    left: 0;
    transform: rotate(90deg) translate(-8px, 8px);
  }

  &:last-of-type {
    filter: drop-shadow(-3px -3px 0px var(--secondary));
    right: 0;
    bottom: 0;
    transform: rotate(-90deg) translate(-8px, 8px);
  }
}

.project__item img {
  position: absolute;
  height: 170px;
}

.project__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: var(--primary);
  position: absolute;
  opacity: 0;
  height: 170px;
  width: 100%;
  border: 0.5px solid var(--secondary-border);
  transition: opacity 0.2s;

  box-shadow: -4px 4px var(--secondary);
}

.project__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: space(6);
}

.project__thumb {
  width: 240px;
  height: 170px;
}
